PA
*
* Populate distribution directories for DOWNLOAD
*
*
* Stamped: p41 rotmand, /usr/local/download, user #1784, 21 Jun 07, 11:04AM.
* Version 7.21
*
*
*
*
*
*
COMO ON MAKE.DOWNLOAD.DIST
DATE
*
DISPLAY Clearing distribution directories...
CLEAR.FILE DOWNLOAD.INFORMATION.PRIMOS.DIST
CLEAR.FILE DOWNLOAD.UNIDATA.UNIX.DIST
CLEAR.FILE DOWNLOAD.UNIDATA.VMS.DIST
CLEAR.FILE DOWNLOAD.UNIDATA.WINDOWS.DIST
CLEAR.FILE DOWNLOAD.UNIVERSE.UNIX.DIST
CLEAR.FILE DOWNLOAD.UNIVERSE.WINDOWS.DIST
*
*
*
DISPLAY
DISPLAY Selecting files to be copied...
SSELECT DOWNLOAD.SOURCE \
   WITH @ID UNLIKE '_...' \
   WITH @ID UNLIKE '...source' \
   WITH @ID UNLIKE '...documentation' \
   WITH @ID UNLIKE '...dist' \
   WITH @ID UNLIKE '...tar' \
   WITH @ID UNLIKE 'download_...exe'
SAVE.LIST DOWNLOAD.SOURCE.FILES
DISPLAY
DISPLAY Creating list of files to delete from distribution...
SELECT DOWNLOAD.SOURCE \
  'STAMP' \
  'APPLY.STAMP' \
  'APPLY.STAMP.1' \
  'DOWNLOAD.UNIVERSE' \
  'DOWNLOAD.UNIVERSE.SUB' \
  'I_WHICH_DBMS' \
  'I_WHICH_DBMS_INFORMATION' \
  'I_WHICH_DBMS_UNIDATA' \
  'I_WHICH_DBMS_UNIVERSE' \
  'I_WHICH_OP_SYS' \
  'I_WHICH_OP_SYS_PRIMOS' \
  'I_WHICH_OP_SYS_UNIX' \
  'I_WHICH_OP_SYS_VMS' \
  'I_WHICH_OP_SYS_WINDOWS' \
  'INSERT.BASICTYPE' \
  'MAKE.DOWNLOAD.DIST'
SAVE.LIST DOWNLOAD.DELETE.FILES
*
*
*
DISPLAY
DISPLAY Processing UNIDATA UNIX files...
GET.LIST DOWNLOAD.SOURCE.FILES
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.UNIX.DIST OVERWRITING
DATA Y
COPY FROM DOWNLOAD.UNIDATA.UNIX.SOURCE TO DOWNLOAD.UNIDATA.UNIX.DIST \
   ALL OVERWRITING
COPY FROM DOWNLOAD.DOCUMENTATION TO DOWNLOAD.UNIDATA.UNIX.DIST \
   ALL OVERWRITING
DISPLAY
DISPLAY NEXT LINE WILL DELETE FROM DOWNLOAD.UNIDATA.UNIX.DIST
DISPLAY
PAUSE
GET.LIST DOWNLOAD.DELETE.FILES
DELETE DOWNLOAD.UNIDATA.UNIX.DIST
DATA Y
DELETE DOWNLOAD.UNIDATA.UNIX.DIST 'PRWF$$'
DELETE DOWNLOAD.UNIDATA.UNIX.DIST 'SRSFX$'
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.UNIX.DIST 'I_WHICH_DBMS_UNIDATA','I_WHICH_DBMS' OVERWRITING
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.UNIX.DIST 'I_WHICH_OP_SYS_UNIX','I_WHICH_OP_SYS' OVERWRITING
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.BUILD.TEST.FILE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.FORM.XML.ELEMENT.NAME
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.INIT
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.LOAD
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.OP.SYS.WRITE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.PARSE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.PROCESS
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DOWNLOAD.UPDATE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.EXPAND.ITEMS
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.FLIP.8TH.BIT
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.GET.KEYWORD.VALUE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.OPEN.FILE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.PARSE.COMMAND.LINE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.PROMPT.ANS
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.PROMPT.STACK
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.VIEW.FILE
RUN DOWNLOAD.SOURCE INSERT.BASICTYPE DOWNLOAD.UNIDATA.UNIX.DIST DL.VIEW.SEQ.FILE
*
*
*
*
DISPLAY
DISPLAY Processing UNIVERSE UNIX files...
COPY FROM DOWNLOAD.UNIVERSE.UNIX.SOURCE TO DOWNLOAD.UNIVERSE.UNIX.DIST \
   ALL OVERWRITING
COPY FROM DOWNLOAD.DOCUMENTATION TO DOWNLOAD.UNIVERSE.UNIX.DIST \
   ALL OVERWRITING
DOWNLOAD.UNIVERSE
*
*
*
DISPLAY
DISPLAY Processing INFORMATION PRIMOS files...
GET.LIST DOWNLOAD.SOURCE.FILES
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.INFORMATION.PRIMOS.DIST OVERWRITING
DATA Y
COPY FROM DOWNLOAD.INFORMATION.PRIMOS.SOURCE TO DOWNLOAD.INFORMATION.PRIMOS.DIST \
   ALL OVERWRITING
COPY FROM DOWNLOAD.DOCUMENTATION TO DOWNLOAD.INFORMATION.PRIMOS.DIST \
   ALL OVERWRITING
DISPLAY
DISPLAY NEXT LINE WILL DELETE FROM DOWNLOAD.INFORMATION.PRIMOS.DIST
DISPLAY
PAUSE
GET.LIST DOWNLOAD.DELETE.FILES
DELETE DOWNLOAD.INFORMATION.PRIMOS.DIST
DATA Y
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.INFORMATION.PRIMOS.DIST 'I_WHICH_DBMS_INFORMATION','I_WHICH_DBMS' OVERWRITING
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.INFORMATION.PRIMOS.DIST 'I_WHICH_OP_SYS_PRIMOS','I_WHICH_OP_SYS' OVERWRITING
*
*
*
*
DISPLAY
DISPLAY Processing UNIDATA VMS files...
GET.LIST DOWNLOAD.SOURCE.FILES
CC.COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.VMS.DIST VMS.FILE.NAME
COPY FROM DOWNLOAD.UNIDATA.VMS.SOURCE TO DOWNLOAD.UNIDATA.VMS.DIST \
   ALL OVERWRITING
COPY FROM DOWNLOAD.DOCUMENTATION TO DOWNLOAD.UNIDATA.VMS.DIST \
   ALL OVERWRITING
DISPLAY
DISPLAY NEXT LINE WILL DELETE FROM DOWNLOAD.UNIDATA.VMS.DIST
DISPLAY
PAUSE
SELECT DOWNLOAD.UNIDATA.VMS.DIST \
  'STAMP' \
  'APPLY_STAMP' \
  'APPLY_STAMP_1' \
  'DOWNLOAD_UNIVERSE' \
  'DOWNLOAD_UNIVERSE_SUB' \
  'I_WHICH_DBMS' \
  'I_WHICH_DBMS_INFORMATION' \
  'I_WHICH_DBMS_UNIDATA' \
  'I_WHICH_DBMS_UNIVERSE' \
  'I_WHICH_OP_SYS' \
  'I_WHICH_OP_SYS_PRIMOS' \
  'I_WHICH_OP_SYS_UNIDATA' \
  'I_WHICH_OP_SYS_UNIX' \
  'I_WHICH_OP_SYS_WINDOWS' \
  'MAKE_DOWNLOAD_DIST'
DELETE DOWNLOAD.UNIDATA.VMS.DIST
DATA Y
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.VMS.DIST 'I_WHICH_DBMS_UNIDATA','I_WHICH_DBMS' OVERWRITING
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.VMS.DIST 'I_WHICH_OP_SYS_VMS','I_WHICH_OP_SYS' OVERWRITING
*
*
*
DISPLAY
DISPLAY Processing UNIDATA WINDOWS files...
COPY FROM DOWNLOAD.UNIDATA.UNIX.DIST TO DOWNLOAD.UNIDATA.WINDOWS.DIST ALL OVERWRITING
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIDATA.WINDOWS.DIST 'I_WHICH_OP_SYS_WINDOWS','I_WHICH_OP_SYS' OVERWRITING
*
*
*
DISPLAY
DISPLAY Processing UNIVERSE WINDOWS files...
COPY FROM DOWNLOAD.UNIVERSE.UNIX.DIST TO DOWNLOAD.UNIVERSE.WINDOWS.DIST ALL OVERWRITING
COPY FROM DOWNLOAD.SOURCE TO DOWNLOAD.UNIVERSE.WINDOWS.DIST 'I_WHICH_OP_SYS_WINDOWS','I_WHICH_OP_SYS' OVERWRITING
*
*
DATE
COMO OFF
